<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url='https://dev117154.service-now.com/'" />
  </head>
  <body>
    <p>Please follow <a href="https://dev117154.service-now.com/">this link</a>.</p>
  </body>
</html>
